<!DOCTYPE html>
<html>
<head>
    <title>Project List</title>
</head>
<body>
    <h1>Project List</h1>
    <ul>
        {% for project in projects %}
            <li>{{ project.project_name }}</li>
            <li>{{ project.location }}</li>
            <li>{{ project.region }}</li>
            <li>{{ project.project_full_address }}</li>
            <li>{{ project.project_start_date }}</li>
            <li>{{ project.project_end_date }}</li>
            <li>{{ project.project_support_window}}</li>
            <li>{{ project.custom_support_window }}</li>
            <li>{{ project.project_value_inr }}</li>

        {% endfor %}
    </ul>
</body>
</html>

